.CardPageWrapper {
  position: relative;
}
.black_bg {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.popup_wrapper {
  display: flex;
  flex-direction: column;
  padding: 17px 18px 41px 33px;
  background: #fff;
  box-sizing: border-box;
  height: 230px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -115px;
  margin-left: -255px;
  box-sizing: border-box;
  width: 511px;
  z-index: 12;
}
.btn_right {
  align-self: end;
}
.popup_btn {
  width: 16px;
  height: 16px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.popup_name {
  margin-top: 11px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #000000;
}

.popup_phone {
  min-width: 445px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
.popup_fatWeight {
  font-weight: 700;
}
.container {
  position: relative;
  box-sizing: border-box;
  padding: 0px;
  min-height: 100vh;
}
.itemsCard_list {
  display: flex;
  padding: 0 5px;
  flex-direction: column;
}

.total_price {
  text-align: right;
  margin-right: 47px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  margin-bottom: 60px;
}

.form {
  box-sizing: border-box;
  padding-top: 70px;
  background-color: #f2f5f9;
  margin-bottom: 127px;
  position: relative;
}

.form::after {
  content: "";
  position: absolute;
  max-width: calc(100% - 70px);
  width: 1200px;
  height: 1px;
  background-color: #a8afbb;
  bottom: -70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: inline-block;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_h1 {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}

.formInput_name {
  box-sizing: border-box;
  width: 430px;
  padding: 20px 26px 20px 26px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #535860;
  margin-bottom: 30px;
}
.formInput_name:focus {
  outline: 1px solid #4892ec;
}

.formInput_phone {
  box-sizing: border-box;
  width: 430px;
  padding: 20px 26px 20px 26px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #535860;
  margin-bottom: 30px;
}

.formInput_phone:focus {
  outline: 1px solid #4892ec;
}

.formInput_mail {
  box-sizing: border-box;
  width: 430px;
  padding: 20px 26px 20px 26px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #535860;
  margin-bottom: 30px;
}

.formInput_mail:focus {
  outline: 1px solid #4892ec;
}

.mailIncorrect {
  /* margin-top: -30px; */
  position: relative;
  left: -135px;
  bottom: 29px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #e86880;
}
.form_btn {
  margin-bottom: 76px;
  width: 430px;
  height: 60px;
  background: #296dc1;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 690px) {
  .itemsCard_list {
    display: flex;
    padding: 0 5px;
  }
  .total_price {
    margin: 0 0 60px 0;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .mailIncorrect {
    left: -105px;
  }

  .form_h1 {
    font-size: 22px;
    line-height: 25px;
  }

  .formInput_name {
    width: 370px;
  }
  .formInput_phone {
    width: 370px;
  }
  .formInput_mail {
    width: 370px;
  }
  .form_btn {
    width: 370px;
  }
}

@media (max-width: 430px) {
  .mailIncorrect {
    left: -75px;
  }
  .form_h1 {
    font-size: 22px;
    line-height: 25px;
  }

  .formInput_name {
    width: 310px;
  }
  .formInput_phone {
    width: 310px;
  }
  .formInput_mail {
    width: 310px;
  }
  .form_btn {
    width: 310px;
  }
}

@media (max-width: 370px) {
  .mailIncorrect {
    left: -60px;
  }
  .formInput_name {
    width: 280px;
  }
  .formInput_phone {
    width: 280px;
  }
  .formInput_mail {
    width: 280px;
  }
  .form_btn {
    width: 280px;
  }
}
