.container {
  position: relative;
  box-sizing: border-box;
  padding: 0px;
  min-height: 100vh;
}
.itemsCard_list {
  display: flex;
  padding: 0 5px;
  flex-direction: column;
}

.total_price {
  text-align: right;
  margin-right: 47px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  margin-bottom: 60px;
}

.form {
  box-sizing: border-box;
  padding-top: 70px;
  background-color: #f2f5f9;
  margin-bottom: 127px;
  position: relative;
}

.form::after {
  content: "";
  position: absolute;
  max-width: 1200px;
  height: 1px;
  background-color: #a8afbb;
  bottom: -70px;
  left: 0;
  right: 0;
  margin-left: 90px;
  display: inline-block;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_h1 {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}

.formInput_name {
  box-sizing: border-box;
  width: 430px;
  padding: 20px 26px 20px 26px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #535860;
  margin-bottom: 30px;
}
.formInput_name:focus {
  outline: 1px solid #4892ec;
}

.formInput_phone {
  box-sizing: border-box;
  width: 430px;
  padding: 20px 26px 20px 26px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #535860;
  margin-bottom: 30px;
}

.formInput_phone:focus {
  outline: 1px solid #4892ec;
}

.formInput_mail {
  box-sizing: border-box;
  width: 430px;
  padding: 20px 26px 20px 26px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #535860;
  margin-bottom: 30px;
}

.formInput_mail:focus {
  outline: 1px solid #4892ec;
}

.mailIncorrect {
  /* margin-top: -30px; */
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #e86880;
}
.form_btn {
  margin-bottom: 76px;
  width: 430px;
  height: 60px;
  background: #296dc1;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}


@media (max-width: 690px) {
  .itemsCard_list {
  display: flex;
  padding: 0 5px;
}
.total_price {

 margin: 0 0 60px 0;
 text-align: center;
}
}
