.item {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #dedede;
  padding: 10px 20px 10px 20px;
  text-align: center;
}


/* .item:hover .item_img {
  margin-bottom: 4px;
}

.item:hover .item_price {
  margin-bottom: 15px;
} */

.item_img {
  margin-bottom: 34px;
  transition: all 1s;
}

.item_txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 15px;
}

.item_price {
  display: block;
  margin-bottom: 25px;
  transition: all 1s;
}

.addToCard_btn {
  cursor: pointer;
  font-family: "Montserrat";
  width: 186px;
  height: 40px;
  background-color: #296dc1;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 1210px) {
  .item_img {
    width: 130px;
    height: 130px;
  }
}
