.mainPage_wrapper {
  position: relative;
}

.mainPage_wrapper::after {
  content: "";
  position: absolute;
  max-width: calc(100% - 70px);
  width: 1200px;
  height: 1px;
  background-color: #a8afbb;
  bottom: -70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: inline-block;
}
